@font-face {
    font-family: 'Mango-smoothie';
    src: url(DK_Mango_Smoothie.otf);
}
html, body {
    margin: 0;
}
#logo {
    margin: 0;
}
.frame {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("sfondoMenuEnea.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Mango-smoothie';
}
.container-spacer {
    width: 50%;
}
.container {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin: 12px 0;
    color: #a4968e;
    width: 75%;
    align-self: center;
}
.container p {
    margin-bottom: 62px;
    margin-top: 0;
}
.container:last-child p {
    margin-bottom: 12px;
}
.elephantImage {
    width: 50%;
}
.elephantImage_ghost {
    width: 50%;
    position: fixed;
    top: 40%;
    opacity: 0.3;
    transition: opacity 0.5s;
}
.elephantImage_ghost.hide {
    opacity: 0;
}
.eneaMenu {
    margin-top: 20%;
    margin-bottom: 0;
    font-size: 80px;
    color: #d89360;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}
.title-wrapper p {
   margin: 0;
}
.title {
    color: #d89360;
    margin-bottom: 0;
}
.subtitle {
    font-size: 48px;
}
h1 {
    font-size: 90px;
}
.drink-spacer {
    width: 9%;
    margin: -12px auto 12px;
}